<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Main/Homepage Netflix Clone" />
  <!-- css -->
  <link rel="stylesheet" href="../css/home.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <!-- scripts -->
  <script src="https://unpkg.com/vue@3" defer></script>
  <script src="../js/script.js" type="module" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <title>Netflix - Home</title>
</head>

<body>
  <!-- Home Page -->
  <div id="netflixapp">
  </div>
  <!-- Nav Bar -->
  <header>
    <div class="navbar">
      <div class="netflix-logo">
        <a href="#">
          <img src="../images/netflix-logo.png" alt="Netflix Logo">
        </a>
      </div>

      <ul class="nav-list">
        <li>Home</li>
        <li>Movies</li>
        <li><a href="../watchlist.html"></a>My List</li>
      </ul>
    </div>

    <div class="search-and-logout">
      <div class="search-bar">

        <input type="search" placeholder="Genres, Titles ..." id='search'>
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
      </div>
    </div>

    <div class="dropdown-button">
      <button onclick="myButton()" class="dropbtn"><img class="avatar" src="../images/avatar-profile.png" alt="profile avatar"></button>
      <div id="myDropdown" class="drop-content">
        <a href="#">{{username}}</a>
        <a href="#"> <p @click='logout'>Logout</p>  </a>
      </div>
    </div>

    <!-- Movies Coming Soon carousel -->

     <div v-else="list.length > 0" id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">

        <template v-for="(slide, index) in list">
          <button  v-show="list.length > 1" type="button" data-bs-target="#carouselExampleCaptions" :data-bs-slide-to="index" :class="{ active: index === 0 }" aria-current="index === 0" :aria-label="slide.title"></button>
        </template>

        </div>

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">

        <template v-for="(slide, index) in list">
          <button type="button" data-bs-target="#carouselExampleCaptions" :data-bs-slide-to="index" :class="{ active: index === 0 }" aria-current="index === 0" :aria-label="slide.title"></button>
        </template>

        </div>

        <div class="carousel-inner">
            <template v-for="(slide, index) in list">
                <div :class="{ 'carousel-item': true, active: index === 0 }" >
                    <img :src="slide.image" class="d-block w-100" :alt="slide.description">

                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ slide.title }}</h5>
                        <p>{{ slide.description }}</p>
                    </div>
                </div>
            </template>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>


  </header>


</body>

</html>
