*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  background-color: black;
}

body{
  background-color: #E50914;
}



.navbar ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-left: 50px;
  margin-top: 20px;

}

.navbar li {
  padding-left: 100px;
  cursor: pointer;
  color: white;
}

.search-bar , .dropdown-button{
  display: flex;
}

.netflix-logo {
  display: flex;
}

#search{
  border-radius: 5px;
}



.avatar{
  height: 35px;

}
