/* HTML styling */
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: transparent;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/Netflix-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Header */
header {
  align-items: center;
}

.netflix-logo {
  max-width: 200px;
}

.container {
  max-width: 120rem;
  margin-bottom: 100px;
}

/* Form */
.signin-form {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.786);
  max-width: 500px;
  min-height: 730px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h1 {
  font-weight: 550px;
  margin-left: 55px;
  margin-bottom: 8px;
  color: white;
}



span {
  color: #8c8c8c;
}

.sign-in {
  margin: auto;
}

input {
  background: #333;
  border-radius: 5px;
  border: 0;
  color: #fff;
  height: 4vh;
  width: 18vw;
  line-height: 50px;
  margin-top: 2rem;
}

input[type="text"i] {
  padding-left: 10px;
}

input[type="password"i] {
  padding-left: 10px;
}

.insert-username {
  color: white;
}

.password {
  margin-top: 1rem;
}

.submit {
  background: #e50914;
  border: none;
  padding: 0.3rem;
  margin-top: 3rem;
  margin-left: 55px;
  margin-bottom: 10px;
  width: 320px;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
}

.checkbox{
height: 15px;
}

/* Bottom Form Section */

a {
  text-decoration: none;
}

.bottom-form{
  font-size: 13px;
}

.facebook-signin {
  margin-top: 70px;
  margin-bottom: 8px;
}

.facebook-signin img {
  height: 25px;
}

.fb-login {
  margin-left: 10px;
}

.new-member {
  margin-bottom: 8px;
}

.password, .username {
  width: 320px;
  margin-left: 55px;
}
